### Exercise 05 : Pandas optimizations

In [1]:
import pandas as pd
import gc

* read the fines.csv that you saved in the previous exercise
* iterations: in all the following subtasks, you need to calculate `fines/refund*year` for
each row and create a new column with the calculated data and measure the time
using the magic command `%%timeit` in the cell

In [2]:
df = pd.read_csv("../data/fines.csv")
df

            CarNumber  Refund    Fines  Make  Model  Year
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981
...               ...     ...      ...   ...    ...   ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985
1133     O78097197RUS       2   3000.0  Ford  Focus  2008
1134     92828M178RUS       2   6100.0  Ford  Focus  1986
1135     92928M178RUS       2  10500.0  Ford  Focus  2019

[1136 rows x 6 columns]

* loop: write a function that iterates through the dataframe using `for i in range(0, len(df))`, `iloc` and `append()` to a list, assign the result of the function to a new column in the dataframe

In [3]:
%%timeit
def use_loop (df):
    res = []
    for i in range(0, len(df)):
        val = df.iloc[i]["Fines"] / df.iloc[i]["Refund"] * df.iloc[i]["Year"]
        res.append(val)
    df["Calculated_data"] = res
use_loop(df)

187 ms ± 15.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [4]:
df

            CarNumber  Refund    Fines  Make  Model  Year  Calculated_data
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...               ...     ...      ...   ...    ...   ...              ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010        1005000.0
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985        1985000.0
1133     O78097197RUS       2   3000.0  Ford  Focus  2008        3012000.0
1134     92828M178RUS       2   6100.0  Ford  Focus  1986        6057300.0
1135     92928M178RUS       2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 7 columns]

* do it using `iterrows()`

In [5]:
%%timeit
def use_iterrows(df):
    res = []
    for index, rows in df.iterrows():
        val = rows["Fines"] / rows["Refund"] * rows["Year"]
        res.append(val)
    df["Calculated_data"] = res
use_iterrows(df)

64.4 ms ± 3.81 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [6]:
df

            CarNumber  Refund    Fines  Make  Model  Year  Calculated_data
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...               ...     ...      ...   ...    ...   ...              ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010        1005000.0
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985        1985000.0
1133     O78097197RUS       2   3000.0  Ford  Focus  2008        3012000.0
1134     92828M178RUS       2   6100.0  Ford  Focus  1986        6057300.0
1135     92928M178RUS       2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 7 columns]

* do it using `apply()` and lambda function

In [7]:
%%timeit
def use_apply(df):
    df["Calculated_data"] = df.apply(lambda x: x["Fines"] / x["Refund"] * x["Year"], axis=1)

use_apply(df)

27.2 ms ± 6.87 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [8]:
df

            CarNumber  Refund    Fines  Make  Model  Year  Calculated_data
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...               ...     ...      ...   ...    ...   ...              ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010        1005000.0
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985        1985000.0
1133     O78097197RUS       2   3000.0  Ford  Focus  2008        3012000.0
1134     92828M178RUS       2   6100.0  Ford  Focus  1986        6057300.0
1135     92928M178RUS       2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 7 columns]

* do it using `Series` objects from the dataframe

In [9]:
%%timeit
def use_series(df):
    df["Calculated_data"] = df["Fines"] / df["Refund"] * df["Year"]

use_series(df)

686 μs ± 214 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [10]:
df

            CarNumber  Refund    Fines  Make  Model  Year  Calculated_data
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...               ...     ...      ...   ...    ...   ...              ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010        1005000.0
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985        1985000.0
1133     O78097197RUS       2   3000.0  Ford  Focus  2008        3012000.0
1134     92828M178RUS       2   6100.0  Ford  Focus  1986        6057300.0
1135     92928M178RUS       2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 7 columns]

* do it as in the previous subtask but with the method `.values`

In [11]:
%%timeit
def use_values(df):
    df["Calculated_data"] = df["Fines"].values / df["Refund"].values * df["Year"].values

use_values(df)

201 μs ± 50.3 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [12]:
df

            CarNumber  Refund    Fines  Make  Model  Year  Calculated_data
0     Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
1     Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
2     L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
3     A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
4     B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...               ...     ...      ...   ...    ...   ...              ...
1131      X786CO96RUS       1    500.0  Ford  Focus  2010        1005000.0
1132     8316XX154RUS       1   1000.0  Ford  Focus  1985        1985000.0
1133     O78097197RUS       2   3000.0  Ford  Focus  2008        3012000.0
1134     92828M178RUS       2   6100.0  Ford  Focus  1986        6057300.0
1135     92928M178RUS       2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 7 columns]

indexing: measure the time using the magic command `%%timeit` in the cell

* get a row for a specific `CarNumber`, for example, `’O136HO197RUS’`

In [13]:
%%timeit
df.loc[df["CarNumber"] == "O136HO197RUS"]

465 μs ± 48.6 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

* set the index in your dataframe with `CarNumber`
* again, get a row for the same `CarNumber`

In [14]:
df.set_index("CarNumber", inplace=True)

In [15]:
%%timeit
df.loc[df.index == "O136HO197RUS"]

309 μs ± 6.94 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

downcasting

* run `df.info(memory_usage=’deep’)`, pay attention to the `Dtype` and the memory usage

In [16]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 1136 entries, Q123W456T789RUS to 92928M178RUS
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Refund           1136 non-null   int64
 1   Fines            1136 non-null   float64
 2   Make             1122 non-null   object
 3   Model            1122 non-null   object
 4   Year             1136 non-null   int64
 5   Calculated_data  1136 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 221.9 KB

* make a `copy()` of your initial dataframe into another dataframe `optimized`

In [17]:
optimized = df.copy()
optimized

                 Refund    Fines  Make  Model  Year  Calculated_data
CarNumber
Q123W456T789RUS       1   1234.0  Ford  Focus  1981        2444554.0
Y643H664G453RUS       2   5678.0  Ford  Focus  1981        5624059.0
L993O993L993RUS       1   9930.0  Ford  Focus  1981       19671330.0
A111A111A111RUS       2   4321.0  Ford  Focus  1981        4279950.5
B222B222B222RUS       2   5934.0  Ford  Focus  1981        5877627.0
...                 ...      ...   ...    ...   ...              ...
X786CO96RUS           1    500.0  Ford  Focus  2010        1005000.0
8316XX154RUS          1   1000.0  Ford  Focus  1985        1985000.0
O78097197RUS          2   3000.0  Ford  Focus  2008        3012000.0
92828M178RUS          2   6100.0  Ford  Focus  1986        6057300.0
92928M178RUS          2  10500.0  Ford  Focus  2019       10599750.0

[1136 rows x 6 columns]

* downcast from `float64` to `float32` for all the columns
* downcast from `int64` to the smallest numerical dtype possible
* run `info(memory_usage='deep')` for your new dataframe, pay attention to the Dtype and the memory usage

In [18]:
float_cols = optimized.select_dtypes(include="float64").columns
optimized[float_cols] = optimized[float_cols].astype("float32")
int_cols = optimized.select_dtypes(include="int64").columns
optimized[int_cols] = optimized[int_cols].apply(pd.to_numeric, downcast="integer")
optimized.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 1136 entries, Q123W456T789RUS to 92928M178RUS
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Refund           1136 non-null   int8
 1   Fines            1136 non-null   float32
 2   Make             1122 non-null   object
 3   Model            1122 non-null   object
 4   Year             1136 non-null   int16
 5   Calculated_data  1136 non-null   float32
dtypes: float32(2), int16(1), int8(1), object(2)
memory usage: 198.6 KB

* categories:
    * change the `object` type columns to the type `category`
    * This time, check the memory usage, it probably has a decrease of 2–3 times compared to the initial dataframe

In [19]:
object_cols = optimized.select_dtypes("object").columns
optimized[object_cols] = optimized[object_cols].astype("category")
optimized.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Index: 1136 entries, Q123W456T789RUS to 92928M178RUS
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Refund           1136 non-null   int8
 1   Fines            1136 non-null   float32
 2   Make             1122 non-null   category
 3   Model            1122 non-null   category
 4   Year             1136 non-null   int16
 5   Calculated_data  1136 non-null   float32
dtypes: category(2), float32(2), int16(1), int8(1)
memory usage: 83.1 KB

* memory clean
  * using `%reset_selective` and the library `gc` clean the memory of your initial dataframe only

In [20]:
%reset_selective -f df
gc.collect()
print(gc.get_count())

(42, 0, 0)